<olchromatic-text-block [bordered]="true">
  <div text-block-header>
    <h2>Some header</h2>
  </div>
  <p style="color: blue">Content Start</p>
  <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p style="color: blue">Content end</p>
  <div text-block-footer>
    <p>Some footer</p>
  </div>
</olchromatic-text-block>

<olchromatic-button [text]="'My text'"></olchromatic-button>
<olchromatic-rating [rating]="5"></olchromatic-rating>
